* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  height: 100vh;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  filter: blur(1px);
}

.heart {
  color: transparent;
  font-size: 3rem;
  padding: 2rem;
  position: absolute;
  top: -20px;
  cursor: pointer;
  animation: heart-animation 3s linear infinite, heart-blast 3s linear infinite;
}

@keyframes heart-animation {
  from {
    top: 100vh;
    transform: scale(0.7);
    transform: translateY(-5vh);
  }

  to {
    transform: scale(1.3);
    opacity: 0.5;
    top: -20px;
  }
}

.text {
  text-align: center;
  position: absolute;
  top: 5rem;
  width: 100%;
  font-size: 40px;
  font-weight: bolder;
  color: #ff000066;
    text-shadow: 2px 2px 3px #222;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  filter: blur(2px);
  top: 0;
  z-index: -1;
  background-image: url(./bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


@keyframes word {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100% 0;
  }
}